.myBtn_div{
    width: 100%;
    height: 100%;
  }
  
  .myBtn {
    width: 100%;
    height: 100%;
      text-decoration: none;
      padding: 0.5em 0.5em;
   
      border: 0.1em solid blue;
      color: black;
      font-size: 0.8em;
      cursor: pointer;
    }
    .myBtn:hover {
      background-color: blue;
      color: white;
    }